@tailwind base;
@tailwind components;
@tailwind utilities;

.file-name {
  position: absolute;
  bottom: -25px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}